@import '../../variables';
@import '../../mixins';

#inventory {
  @include flex($dir: column, $align: center, $flex: 1);
  padding: $spacing-normal;
  height: 100%;
  background-color: burlywood;
  overflow-x: hidden;
}
