@import "../variables";

.meeple-list {
  width: 100%;
  justify-content: center;
  display: flex;
  gap: $spacing-xxsmall;
  .meeple {
    position: relative;
    &.used {
      svg {
        fill: #0e0606;
      }
    }
  }
}
.meeple {
  svg {
    fill: #f45b69;
    max-height: $spacing-normal;
  }
  &.placed {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 4;
  }
  // Other colours
  // #048A81 green
  // #F0C808 yellow
  // #9297C4 bluey
  // #F1DEDE grey
  // #0E0606 black
}
