@import "../../variables";

.tile {
  width: $tile-size;
  height: $tile-size;
  img {
    width: 100%;
    height: 100%;
  }
  position: absolute;
  z-index: 2;
  &.placed {
    z-index: 1;
  }
  // Tile placement controls
  .controls {
    z-index: 3;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 125%;
    left: -12.5%;
    top: -$spacing-small;
    .rotate-btn {
      border-radius: 100%;
      padding: $spacing-xxsmall;
      border: none;
      display: flex;
      transform: rotate(45deg);
      &.left {
        transform: rotate(-45deg) rotateY(180deg);
      }
    }
  }
}
