@import "../../variables";

.tile {
  width: $tile-size;
  height: $tile-size;
  img {
    width: 100%;
    height: 100%;
  }
  position: absolute;
  z-index: 2;
  &.placed {
    z-index: 1;
  }
  // Tile placement controls
  .controls {
    z-index: 3;
    position: absolute;
    display: flex;
    width: 125%;
    left: -12.5%;
    top: -12.5%;
    height: 125%;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &.center {
        justify-content: center;
      }
      .btn {
        border-radius: 100%;
        padding: $spacing-xxsmall;
        border: none;
        display: flex;
        &.meeple-placement {
          opacity: 0.777;
          background-color: #5968ed;
          border: 3px dotted turquoise;
          width: $spacing-normal;
          height: $spacing-normal;
          &:active {
            opacity: 1;
          }
        }
      }
      .rotate {
        transform: rotate(45deg);
        &.left {
          transform: rotate(-45deg) rotateY(180deg);
        }
      }
    }
  }
}
